---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Welcome - Alexander">
	<h1> Contacto
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, distinctio alias? Laborum, nihil beatae aliquid ad quam pariatur. Iste, eos? Quisquam, sit consequatur totam odio corporis nam illum velit voluptatum!
    </h1>
    
</Layout>