---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome - Alexander">
	<div class="p-4 flex justify-center gap-4 flex-wrap">
		<Card title="Card 01" />
		<Card title="Card 02" />
		<Card title="Card 03" />
		<Card title="Card 04" />
	</div>
</Layout>
